@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	overflow-y: hidden !important;
	overflow-x: hidden !important;
}

@layer components {
	.navbar-link {
		@apply cursor-pointer hover:text-btn-primary transition duration-150 hover:underline;
	}

	.section-responvice {
		@apply w-full flex sm:flex-row flex-col items-center gap-6 mt-6
	}
}


.hidescrollbar::-webkit-scrollbar {
	display: none;
}
